<div mat-dialog-content>
    <h3>Détails du message {{data.id}}</h3>
    <form>
      <mat-form-field appearance="fill" class="input-form">
        <mat-label>ID</mat-label>
        <input matInput [value]="data.id" readonly />
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="input-form">
        <mat-label>Content</mat-label>
        <textarea matInput [value]="data.content" readonly></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-form">
        <mat-label>Date</mat-label>
        <input matInput [value]="data.createdAt | date: 'medium'" readonly />
      </mat-form-field>
    </form>
  </div>
  
  <div mat-dialog-actions style="display: flex; justify-content: flex-end;">
    <button mat-raised-button mat-dialog-close>Fermer</button>
  </div>
  