<mat-card class="home-card">
  <mat-card-header>
    <mat-icon class="header-icon">home</mat-icon>
    Tableau de bord - Message Routing System
    </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h4 style="margin: 16px 0;">Routing app</h4>
    
    <div class="description-container">
      <p>
        <strong>Application de routage des messages MQ</strong> - Cette plateforme permet la réception, 
        le stockage et le routage des messages financiers entre les différents systèmes partenaires 
        de l'organisation.
      </p>

    </div>
  </mat-card-content>
</mat-card>